#app {
  padding: 20px 50px 50px 20px;
}

#img {
  float: right;
  height: 300px;
  width: 300px;
} 

#explanation {
  padding-right: 350px;
  text-indent: 25px;
  line-height: 1.6; 
}

#link:visited {
  color: black;
}

#title {
  text-align: center;
  padding-right: 300px;
}